.log{
    width: 340px;
    height: 400px;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 800px;
    border: 1px solid gainsboro;
}
.custom-input {
    margin-top: 20px;
    margin-left: 45px;
    width: 250px; 
    height: 35px; 
    border: 1px solid gainsboro;    
    padding-left: 10px;
}
.custom-inputt {
    margin-top: 20px;
    margin-left: 45px;
    width: 250px; 
    height: 35px; 
    border: 1px solid gainsboro;    
    padding-left: 10px;
    margin-top: -15px;    
}

.custom-input::placeholder{
    text-align: left;
    padding-left: 0px;
    font-size:13px;
    color: grey;
}
.custom-inputt::placeholder{
    padding-left: 10px;
    font-size: 13px;
    color: grey;
    padding-left: 0px;
}
.color-input:focus {
    border-color: #ff0000; /* Изменение цвета края при фокусе */
}
.custom-input:active {
    vertical-align: middle;
    font-size: 16px;
    border-color: green;
}
.in{
    margin-top: 10px;
    margin-left: 15px;
    height: 50px;
    color: #01a715;
}
.voit{
    cursor: pointer;
    height: 35px;
    width: 268px;
    border: 1px solid gainsboro;   
    border-radius: 6px;
    margin-left: 28px;
    background-color: rgb(0, 157, 255);
    text-align: center;
    font-size: 15px;
    color: white;
    font-style:unset;
}
.forg{
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: rgb(0, 102, 255);
    text-decoration: none;
}
.par{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(28, 1, 94);
    font-size: 14px;
    font-weight: 6px;
    text-decoration: none;
}
.par:hover{
    text-decoration: none;
}
.photo{
    width: 600px;
    height: 400px;
    margin-top: 30px;
    margin-left: 360px;
}
.inst{
    margin-top: 40px;
    margin-left: 75px;
}
.ili{
    margin-left: 45px;
}
.wr{
    font-style: normal;
    color: gray;
    font-size: 13px;
    margin-left: 13px;
    margin-right: 13px;
    padding-top: -100px;
}
.hr1{
    height: 0px;
    opacity: 0.5;
    border-color: rgb(222, 216, 216);
    color: gray;
    width: 100px;
    display: inline-block;
}
.hr2{
    opacity: 0.5;
    border-color: rgb(222, 216, 216);
    width: 100px;
    display: inline-block;
}
.but:hover{
    text-decoration: none;
    border: none;
    background-size: cover; 
}
.but{
    cursor: pointer;
    border: none;
    text-decoration: none;
}
.asd{
    text-decoration: none;
}
.asd:hover{
    text-decoration: none;
}
.dfg:hover{
    text-decoration: none;
}
.dfg{
    color: rgb(22, 1, 99);
    text-decoration: none;
    margin-left: 10px;
    font-size: 15px;
    padding-top: 20px;
}
.faceb{
    margin-top: 20px;
    margin-left: 90px;
}
.new{
    
    width: 340px;
    margin-top: 40px;
    height: 65px;
    background-color: white;
    position:relative;
    
    border: 1px solid gainsboro;
}
.reg{
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
}
.regg{
    text-decoration: none;
    font-weight: 50px;
    color: rgb(24, 124, 237);
}
.regg:hover{
    text-decoration: none;
}
.reg:hover{
    text-decoration: none;
}
.ust{
    text-align: center;
    font-weight: 1;
}
.pht{
    margin-top: -10px;
    margin-left: 25px;
}
.tr{
    margin-top: 0px;
}
.pht2{
    margin-top: -53px;
    margin-left: 175px;    
}
.curs{
    cursor: pointer;
}
#toggleCheckbox {
    display: none;
  }
  
  #list {
    display: none;
  }
  
  #toggleCheckbox:checked ~ #list {
    display: block;
  }
  
.pos{
    position: absolute;
    top: 1000px;
    left: 200px;
}  